# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# GROMACS / simulation outputs
*.xtc
*.trr
*.edr
*.tpr
*.gro
*.top
*.itp
*.log
*.mdp
\#*
